CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_160=y
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_ESPTOOLPY_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
