CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHFREQ_26M=y
CONFIG_ESP8266_XTAL_FREQ_26=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_80=y
CONFIG_PM_ENABLE=y
CONFIG_APP_PAUSE_NOISE_TIMER=y
CONFIG_APP_PAUSE_NETWORK_TIMERS=y
CONFIG_APP_DISABLE_DHCP_CLIENT_TIMERS=y
# CONFIG_APP_QUIET_UART is not set
CONFIG_APP_IDLE_BOOT_PINS=y
CONFIG_APP_SENSOR_IDLE_INPUT=y
CONFIG_APP_TEMP_OFFSET10=0
CONFIG_PARTITION_TABLE_SINGLE_APP=y
CONFIG_ESPTOOLPY_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200
CONFIG_HTTPD_MAX_REQ_HDR_LEN=2048
CONFIG_HTTPD_MAX_URI_LEN=1024
# CONFIG_LOG_COLORS is not set
